@font-face {
	font-family: "Lato";
	src: url("/fonts/Lato-Regular.woff2") format("woff2");
	src: url("/fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/fonts/Lato-Bold.woff2") format("woff2");
	src: url("/fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/fonts/Lato-Black.woff2") format("woff2");
	src: url("/fonts/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica";
	src: url("/fonts/HelveticaNeueCyr-Light.woff2");
	src: url("/fonts/HelveticaNeueCyr-Light.woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica";
	src: url("/fonts/HelveticaNeueCyr-Bold.woff2");
	src: url("/fonts/HelveticaNeueCyr-Bold.woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica";
	src: url("/fonts/HelveticaNeueCyr-Black.woff2");
	src: url("/fonts/HelveticaNeueCyr-Black.woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
